.gallery {
  max-width: 1280px;
  padding: 12px;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  flex: 0 0 calc (33.33% - 16px);

  &:hover {
    transform: scale(1.05);
  }
}

.gallery-image {
  display: block;
  max-width: 360px;
  height: auto;
  object-fit: cover;
  object-position: center;
}
